.form{
    text-align: center;
    color: bisque;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-rows: auto auto auto;
}

input {
    outline: 0;
    border-width: 0 0 4px;
    border-color: red
  }

  input:focus {
    border-color: rgb(0, 0, 0);
    outline: 4px dotted lightgreen
  }
label {
    margin: 2%;
    color: white;
    background-color: green;
}